# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
*.log
*.pot
db.sqlite3
/media
/staticfiles/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Django migrations (optional)
*/migrations/*.pyc
*/migrations/__pycache__/
